@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins&display=swap');
/* setting the basic css style for the website*/
*{
    padding:0px;
    margin:0px;
    box-sizing: border-box;

}
nav{
    width: 100%;
    height: 80px;
    background-image: linear-gradient(to right,#1e130c,#9a8478);
}
#logoimg{
    width: 60px;
    height: 60px;
    margin-bottom: 5px;
}
.logo{
    float: left;
    font-family: "Pacifico",sans-serif;
    color: white;
    padding: 0px 20px;
    line-height: 80px;
    font-size: 20px;
}
.nav-links{
    float: right;
    display: flex;
    margin-right:40px;
}
.nav-links a{
    color:white;
    font-family: "Poppins",sans-serif;
    letter-spacing: 2px;
    font-size:16px;
    border: 1px solid transparent;
    border-radius: 15px;
    padding:7px 10px;
    text-decoration: none;
}
.nav-links li{
    display: inline-block;
    margin: 0 8px;
    list-style: none;
    line-height: 80px;
}

.nav-links a:hover{
    color: lightgray;
    border:1px solid white;
    transition: 1s;
}
nav #icon{
    color:white;
    font-size: 30px;
    line-height:80px;
    float: right;
    margin-right: 10px;
    cursor: pointer;
    visibility: hidden;
}
@media (max-width:1120px){
    .logo{
        align-items: center;
        font-size:28px;
        padding-left: 60px;
    }
    .nav-links {
        margin-right: 20px;
    }
    .nav-links a{
        font-size: 17px;
    }
    nav #icon{
        visibility: visible;
    }
}
@media (max-width:600px){
    .nav-links{
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: #9a8478;
        top:80px;
        left:-100%;
        transition: all 0.5s;
        text-align: center;
        display: block;
   }
   .nav-links li{
       display:block;  
       margin:50px 0 ;
       line-height: 30px;
   }
   .nav-links a{
       font-size: 26px;
   }
   .nav-links a:hover{
       border:none;
       color: black;
   }
    nav ul.show{
      left: 0;
  } 
}