@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins&display=swap');
/* setting the basic css style for the website*/
*{
    padding:0px;
    margin:0px;
    box-sizing: border-box;

}
#logoimg{
    width: 3%;
    margin-bottom: 5px;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-image: linear-gradient(to right,#1e130c,#9a8478);
}
.logo{
    font-family: "Pacifico",sans-serif;
    color: white;
    letter-spacing: 2px;
    font-size: 20px;
}
.nav-links{
    display: flex;
    justify-content: space-around;
    width: 50%;
}
.nav-links a{
    color:whitesmoke;
    font-family: "Poppins",sans-serif;
    letter-spacing: 2px;
    font-size:16px;
    text-decoration: none;
}
.nav-links li{
    list-style: none;
}